<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mccc.mapper.ArticleMapper">

	<insert id="createArticle">
		INSERT INTO tbl_article (atc_title, atc_content, atc_writer)
		VALUES (#{title}, #{content}, #{writer})
	</insert>
	
	<select id="readArticle" resultMap="ArticleResultMap">
		SELECT atc_no, atc_title, atc_content, atc_writer, atc_regdate, atc_hit, atc_replycnt
		FROM tbl_article
		WHERE atc_no = #{articleNo}
	</select>
	
	<update id="updateArticle">
		UPDATE tbl_article
		SET atc_title = #{title}, atc_content = #{content}
		WHERE atc_no = #{articleNo}
	</update>
	
	<delete id="deleteArticle">
		DELETE
		FROM tbl_article
		WHERE atc_no = #{articleNo}
	</delete>
	
	<select id="listCriteria" resultMap="ArticleResultMap">
		<![CDATA[
			SELECT atc_no, atc_title, atc_content, atc_writer, atc_regdate, atc_hit, atc_replycnt
			FROM tbl_article
			WHERE atc_no > 0
		]]>
		<include refid="search"></include>
		<![CDATA[
			ORDER BY atc_no DESC, atc_regdate DESC
			LIMIT #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="countArticles" resultType="int">
		<![CDATA[
			SELECT COUNT(atc_no)
			FROM tbl_article
			WHERE atc_no > 0
		]]>
		<include refid="search"></include>
	</select>
	
	<update id="updateReplyCnt">
		UPDATE tbl_article
		SET atc_replycnt = atc_replycnt + #{amount}
		WHERE atc_no = #{articleNo}
	</update>
	
	<update id="updateHit">
		UPDATE tbl_article
		SET atc_hit = atc_hit + 1
		WHERE atc_no = #{articleNo}
	</update>
	
	<resultMap id="ArticleResultMap" type="ArticleVO">
		<id property="articleNo" column="atc_no"></id>
		<result property="title" column="atc_title"></result>
		<result property="content" column="atc_content"></result>
		<result property="writer" column="atc_writer"></result>
		<result property="articleRegDate" column="atc_regdate"></result>
		<result property="hit" column="atc_hit"></result>
		<result property="replyCnt" column="atc_replycnt"></result>
	</resultMap>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND atc_title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				AND atc_content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				AND (
					atc_title LIKE CONCAT('%', #{keyword}, '%')
					OR atc_content LIKE CONCAT('%', #{keyword}, '%')
				)
			</if>
			<if test="searchType == 'w'.toString()">
				AND atc_writer = #{keyword}
			</if>
		</if>
	</sql>
	
</mapper>