<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mccc.mapper.MemberMapper">
	
	<insert id="createMember">
		INSERT INTO tbl_member (mem_userid, mem_password, mem_email)
		VALUES (#{userid}, #{password}, #{email})
	</insert>
	
	<select id="readMember" resultMap="MemberResultMap">
		SELECT mem_userid, mem_password, mem_email, mem_regdate
		FROM tbl_member
		WHERE mem_userid = #{userid}
	</select>
	
	<update id="updateMember">
		UPDATE tbl_member
		SET mem_password = #{password}, mem_email = #{email}
		WHERE mem_userid = #{userid}
	</update>
	
	<delete id="deleteMember">
		DELETE
		FROM tbl_member
		WHERE mem_userid = #{userid}
	</delete>
	
	<update id="keepLogin">
		UPDATE tbl_member
		SET mem_sessionkey = #{sessionid}, mem_sessionlimit = #{next}
		WHERE mem_userid = #{userid}
	</update>
	
	<select id="checkMemberWithSessionKey" resultMap="MemberResultMap">
		SELECT *
		FROM tbl_member
		WHERE mem_sessionkey = #{value} AND mem_sessionlimit > now()
	</select>
	
	<resultMap id="MemberResultMap" type="MemberVO">
		<id property="userid" column="mem_userid"></id>
		<result property="email" column="mem_email"></result>
		<result property="password" column="mem_password"></result>
		<result property="memberRegDate" column="mem_regdate"></result>
	</resultMap>

</mapper>